.lets-rock {
  height: 100vh;
  min-height: 640px;
  background: $skeleton-color url('../img/lets-rock-01.png') center center no-repeat;
  background-size: cover;
  box-sizing: border-box;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    &__title {
      color: $accent-color;
      font-family: $title-font;
      font-size: 60px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 0 10px;
    }

    &__sub-title {
      color: $heading-color;
      font-family: $cursive-font;
      font-size: 40px;
      font-weight: 400;
      margin: 0 0 30px;
    }
  }
}

.introducing {
  padding: 15px 0;

  .heading-with-arrov {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
  }

  .scrolling-wrapper {
    margin: 15px 0;
    padding: 0 0 15px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-bottom: 1px solid $border-color;

    &::-webkit-scrollbar {
      display: none;
    }

    .card {
      display: flex;
      flex: 0 0 auto;
      align-items: flex-end;
      margin-right: 10px;
      max-width: 370px;
      width: 80%;
      height: 370px;
      background: $heading-color;

      &:nth-child(1) {
        background: $heading-color url('../img/john-smith.png') center center no-repeat;
        background-size: auto;
      }

      &:nth-child(2) {
        background: $heading-color url('../img/rendi.png') center center no-repeat;
        background-size: cover;
      }

      &:nth-child(3) {
        background: $heading-color url('../img/renes.png') center center no-repeat;
        background-size: cover;
      }

      &__label {
        width: 100%;
        color: $light-color;
        background-color: $accent-color;
        padding: 20px 30px;

        &__name {
          font-family: $title-font;
          font-size: 22px;
          font-weight: 400;
          margin: 0 0 5px;
        }

        &__instrument {
          font-family: $grotesque-font;
          font-size: 16px;
          font-weight: 300;
          margin: 0 0 15px;
        }

        &__social {
          max-width: 200px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: $grotesque-font;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}

.upcoming {
  padding: 15px 0;

  .heading-with-arrov {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
  }

  .scrolling {
    margin: 15px 0;
    padding: 0 0 15px;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-bottom: 1px solid $border-color;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .concert {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: flex-start;
    max-width: 260px;
    width: 100%;
    margin: 15px 15px 0 0;

    &__banner {
      max-width: 270px;
      width: 100%;
      position: relative;
      margin: 0;
      box-sizing: border-box;

      img {
        width: 100%;
        display: block;
      }

      &__date {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-align: center;
        top: calc(50% - 42px);
        left: calc(50% - 20px);
        color: $light-color;
        font-family: $title-font;

        .number {
          font-size: 45px;
          font-weight: 700;
        }

        .day {
          font-size: 30px;
          font-weight: 400;
        }
      }
    }

    &__description {
      width: 100%;

      &__title {
        margin: 20px 0 10px;
        color: $heading-color;
        font-family: $title-font;
        font-size: 18px;
        font-weight: 400;
        width: 100%;
      }

      &__items {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
      }

      .item {
        color: $heading-color;
        font-family: $grotesque-font;
        font-size: 14px;
        line-height: 2em;
        font-weight: 400;
      }
    }
  }
}

.latest {
  width: 100%;
}

.our-founder {
  background: $heading-color url('../img/ded.png') right top no-repeat;
  margin: 15px 0;
  padding: 80px 0;

  .title {
    color: $light-color;
    font-family: $title-font;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
  }

  .description {
    color: $light-color;
    font-family: $grotesque-font;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 20px;
  }

  .accent {
    color: $light-color;
    font-family: $cursive-font;
    font-size: 45px;
    font-weight: 400;
    margin: 0;
  }
}

.popular-song {

  .player-list {
    width: 100%;
  }

  .items {
    width: 100%;
    padding: 0;
    list-style-position: inside;
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count:1; //increase for other viewport
    list-style-type: decimal-leading-zero;;
    height: auto;
    box-sizing: border-box;

    li {
      display: flex;
      border-bottom: 1px solid $border-color;
    }
  }

  .track {
    display: list-item;
    color: $heading-color;
    font-family: $grotesque-font;
    font-size: 16px;
    text-decoration: none;
    padding: 15px;

    &:hover {
      color: $accent-color;
    }
  }
}
