.button {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  background-color: $accent-color;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 50px;
  font-family: $grotesque-font;
  color: $light-color;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;

  &:hover {
    opacity: 0.8;
  }

  &_invert {
    color: $accent-color;
    background-color: $light-color;

    &:hover {
      color: $light-color;
      background-color: $accent-color;
    }
  }
}

@media (min-width: 426px) {
  .button {
    width: auto;
  }
}




