.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;

  &__title {
    color: $heading-color;
    font-family: $title-font;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 10px;
  }

  &__sub-title {
    color: $accent-color;
    font-family: $cursive-font;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
  }

  &__full-width {
    .heading__title, .heading__sub-title {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .heading__full-width {
    .heading__title, .heading__sub-title {
      width: auto;
    }
  }
}
