.pagination {
  display: flex;

  a {
    padding: 12px 18px;
    text-decoration: none;
    color: $light-color;
    background-color: $accent-color;
    margin: 0 10px 0 0;

    &:last-child {
      margin: 0;
    }

    .fas {
      font-size: 24px;
    }
  }


}
